.card a{
    color: black;
}
#monthlypopular{
    margin-top: 5rem;
}

#dailypopular{
    margin-top: 3rem;
}

.card-img-top {
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.card-title{
    text-align: center;
}

.card-slide{
    margin-left: 5rem;
    margin-right: 5rem;
}

.back a{
    display: block;
    text-align: right; 
    font-size: 18px; 
    color: black;
}