@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', cursive;
}
.background img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px 5px rgba(44, 44, 44, 0.3);
}
.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
}

.product-body {
    padding: 5rem;
}

.card {
    width: 340px;
    text-align: center;
}

.card a {
    color: black;
}

.back a {
    display: block;
    text-align: right;
    font-size: 18px;
    color: black;
}

.back a:hover {
    color: black;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-body li a {
    font-size: 20px;
    color: black;
}

.product-body ul li {
    list-style-type: none;
    padding: 5px 0;
}

.product-body ul {
    padding-bottom: 2rem;
}
.mb-4 {
    margin-bottom: 2rem !important;
}

@media (max-width: 767px) {
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        list-style: none;
    }
    ul li a {
        display: inline-block;
        padding: 5px 5px 3px 5px;
        margin: 5px;
        min-width: 35px;
        min-height: 35px;
        line-height: 37px;
        text-decoration: none;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .header-text {
        top: 40%;
    }
}
@media (max-width: 767px) {
    .nav-item .nav-link {
        margin: 0px;
        height: 38px;
    }
    .header-text {
        top: 30%;
    }
}

@media (max-width: 575px) {
    .header-text h1 {
        font-size: 25px;
    }
    .header-text {
        top: 20%;
    }
}

body {
    margin-top: 20px;
    background-color: #f4f7f6;
}
.c_review {
    margin-bottom: 0;
}

.c_review li {
    margin-bottom: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e8e8e8;
}

.c_review li:last-child {
    margin: 0;
    border: none;
}

.c_review .avatar {
    float: left;
    width: 80px;
}

.c_review .comment-action {
    float: left;
    width: calc(100% - 80px);
}

.c_review .comment-action .c_name {
    margin: 0;
}

.c_review .comment-action p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95%;
    display: block;
}

.product_item:hover .cp_img {
    top: -20px;
}

.product_item:hover .cp_img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.product_item:hover .cp_img .hover {
    display: block;
}

.product_item .cp_img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.product_item .cp_img img {
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    height: 200px;
}

.product_item .cp_img .hover {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.product_item .product_details {
    padding-top: 110%;
    text-align: center;
}

.product_item .product_details h5 {
    margin-bottom: 5px;
}

.product_item .product_details h5 a {
    font-size: 16px;
    color: #444;
}

.product_item .product_details h5 a:hover {
    text-decoration: none;
}

.product_item .product_details .product_price {
    margin: 0;
}

.product_item .product_details .product_price li {
    display: inline-block;
    padding: 0 10px;
}

.product_item .product_details .product_price .new_price {
    font-weight: 600;
    color: #ff4136;
}

.product_item_list table tr td {
    vertical-align: middle;
}

.product_item_list table tr td h5 {
    font-size: 15px;
    margin: 0;
}

.product_item_list table tr td .btn {
    box-shadow: none !important;
}

.product-order-list table tr th:last-child {
    width: 145px;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preview .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview .preview-thumbnail.nav-tabs {
    margin-top: 15px;
    font-size: 0;
}

.preview .preview-thumbnail.nav-tabs li {
    width: 20%;
    display: inline-block;
}

.preview .preview-thumbnail.nav-tabs li nav-link img {
    max-width: 100%;
    display: block;
}

.preview .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 2px;
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.preview .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.preview .tab-content {
    overflow: hidden;
}

.preview .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.details .rating .stars {
    display: inline-block;
}

.details .sizes .size {
    margin-right: 10px;
}

.details .sizes .size:first-of-type {
    margin-left: 40px;
}

.details .colors .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.details .colors .color:first-of-type {
    margin-left: 20px;
}

.details .colors .not-available {
    text-align: center;
    line-height: 2em;
}

.details .colors .not-available:before {
    font-family: Material-Design-Iconic-Font;
    content: "\f136";
    color: #fff;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cart-page .cart-table tr th:last-child {
    width: 145px;
}

.cart-table .quantity-grp {
    width: 120px;
}

.cart-table .quantity-grp .input-group {
    margin-bottom: 0;
}

.cart-table .quantity-grp .input-group-addon {
    padding: 0 !important;
    text-align: center;
    background-color: #1ab1e3;
}

.cart-table .quantity-grp .input-group-addon a {
    display: block;
    padding: 8px 10px 10px;
    color: #fff;
}

.cart-table .quantity-grp .input-group-addon a i {
    vertical-align: middle;
}

.cart-table .quantity-grp .form-control {
    background-color: #fff;
}

.cart-table .quantity-grp .form-control + .input-group-addon {
    background-color: #1ab1e3;
}

.ec-checkout
    .wizard
    .content
    .form-group
    .btn-group.bootstrap-select.form-control {
    padding: 0;
}

.ec-checkout
    .wizard
    .content
    .form-group
    .btn-group.bootstrap-select.form-control
    .btn-round.btn-simple {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ec-checkout .wizard .content ul.card-type {
    font-size: 0;
}

.ec-checkout .wizard .content ul.card-type li {
    display: inline-block;
    margin-right: 10px;
}

.card {
    background: #fff;
    margin-bottom: 30px;
    transition: 0.5s;
    border: 0;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}